@import "colores";
$colorheader: #6d6d70;

header{
    .titulo{
    background-color: $color-blue;
    }
    background-color: $colorheader;
    justify-content: space-between;
     nav{
        justify-content: center;
     }
}
     
     footer{
        justify-content: center;
        background-color: $color-grey;
        &hover{
            background-color: blue;
        }
     }
     
     header, footer, nav{
        display: flex;
        flex-direction: row;
        align-items: center;
     }
     
    .carousel-inner{
        width: 80%;
        padding: 0;
        margin: 0;

        caurosel-item-active {
        width: 80%;
        }
    }
     
     
     
     
     
     
     /*@media screen and (min-width: 320px) {}
    
     @media screen and (min-width: 480px) {}
    
     @media screen and (min-width: 600px) {}
    
     @media screen and (min-width: 768px) {}
    
     @media screen and (min-width: 1024px) {}
    
     @media screen and (min-width: 1200px) { */
    
    
    
     .carousel-inner{
            text-align: center;
        }
    
    
      
    
        /*electrodomesticos 
     .galeria{
        margin-bottom: 10px 20px;
        box-shadow: 0 4px 8px lightslategray, 0 6px 20px 0 rgba(0, 0, 0, 19);
        float: left;
        width: 100%;
         }
        
         .galeria img {
            float: left;
            width: 200px;
        height: 200px;
        display: block;
        border-radius: 50%;
         }
        
        
         .texto{
            text-align: center;
            text-shadow: 2px 2px 5px lightgrey;
            padding: 10px;
         }
        
         .contenedor-total{
            width:80% ;
            max-width: 1000px;
            margin: 0 auto;
           overflow: hidden;
         } /*
    
    
    